body{
    margin: 0;
}

h1{
    color: #1886ec;
    text-align: center;
    margin: 0;
}

/* Top Container */
.top-container{
    position: relative;
    background-color: #a6def8;
    padding-bottom: 25px;
}

.t-header-title{
    font-family: 'Teko', sans-serif;
    font-size: 80px;
    text-align: left;
    margin-left: 10px;
}

.dp-img{
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
    display: block;
    width: 430px;
    margin: auto;
}

.dp-name{
    font-family: 'Satisfy', cursive;
    font-size: 60px;
    margin: 20px;
}

.dp-desc{
    color: #1886ec;
    font-family: 'Ubuntu', sans-serif;    
    text-align: center;
    font-size: 20px;
    margin: 0px;
}

/* Images */
.display-img{
    position: absolute;
    top: 75px;
    right: 75px;
    width: 175px;
}

.web-img{
    position: absolute;
    left: 75px;
    bottom: 525px;
    width: 150px;
}

.smartphone-img{
    display: block;
    margin: auto;
    width: 28rem;
}

.r-t-tree{
    position: absolute;
    right: 75px;
    bottom: 0px;
    width: 12.5rem;
}

/* Middle Container */
.middle-container{
    padding-top: 10px;
    position: relative;
    background: linear-gradient(#3c95e7, #5a04ca);
    padding-bottom: 25px;
}

.m-header-title{
    font-family: 'Montserrat', sans-serif;
    color: #ecff3d;
    font-size: 80px;
}

/* Interest - 1 */ 
/* Slide - 1 */ 
.coding{
    background: linear-gradient(#75d3b7, #3c4649);
    border-radius: 20px;
    box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 600px;
    height: 350px;
    margin: auto;
    padding: 25px;
}

.code-img{
    width: 150px;
}

.code-title{
    color: #f9ffe3;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 40px;
    text-align: left;
    text-shadow: 2px 2px 5px #3c4649
}

.code-desc{
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
}

/* Slide - 2 */
.fact{
    background: radial-gradient(ellipse at top, #44b9aa, transparent),
                radial-gradient(ellipse at bottom, #39154e, transparent);
    border-radius: 20px;
    box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 600px;
    height: 350px;
    margin: auto;
    padding: 25px;
}

.fact-desc{
    color: #d9f5eb;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: left;
    line-height: 1.5;
}

/* carousel shadow */
#shadow{
    padding: 25px;
}

.carousel-item{
    margin-bottom: 50px;
}

/* Interest - 2 */
.photography{
    background: linear-gradient(#230d85, #3c4649);
    border-radius: 20px;
    box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 600px;
    margin: 25px auto;
    padding: 25px;
}

.photography-img{
    width: 125px;
}

.photography-title{
    color: #b2e0e0;
    font-family: 'Play', sans-serif;
    font-size: 40px;
}

.photography-desc{
    color: azure;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: left;
    line-height: 1.5;
}

.moon-img{
    position: absolute;
    top: 500px;
    left: 20px;
    width: 100px;
}

.r-m-plant{
    position: absolute;
    right: 75px;
    bottom: 0;
    width: 12.5rem;
}

.footer{
    position: relative;
    background-color: #f2f8cf;
    text-align: center;
    padding: 20px;
}

.social{
    display: inline-block;
    color: #807f56;
    font-size: 25px;
    margin: 0;
}

.credits{
    position: absolute;
    display: inline-block;
    right: 20px;
}

.cred-link{
    color: #807f56;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.f-h-color:hover{
    color: red;
}

.social-icons{
    opacity: 0.7;
    background-color: #f5f8d5;
    width: 50px;
}

.social-icons:hover{
    opacity: 1;
    border-radius: 20%;
    background-color: red;
}

/* Credits */

.icon{
    background-color: #f5f8d5;
}

.credits-main{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}

.icon-title{
    font-family: 'Play', sans-serif;    
    font-size: 30px;
    text-align: center;
}

.t-color{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color:#807f56;
    text-decoration: none;
}
.t-color:hover{
    color: red;
}


@media (max-width: 768px){

/* Top container */
.t-header-title{
    font-size: 60px;
}

.dp-img{
    width: 350px;
}

.dp-name{
    font-size: 65px;
}

.display-img{
    top: 30px;
    right: 30px;
    width: 125px;
}

.web-img{
    left: 30px;
    top: 525px;
    width: 125px;
}

.smartphone-img{
    margin: auto;
    width: 350px;
}

.r-t-tree{
    right: 30px;
    bottom: 0px;
    width: 125px;       
}
}

/* Tablet view */
@media (max-width: 991.98px) {
.display-img{
    top: 30px;
    right: 30px;
    width: 125px;
}

.web-img{
    left: 30px;
    top: 475px;
    width: 125px;
}

.smartphone-img{
    margin: auto;
    width: 350px;
}

.r-t-tree{
    right: 30px;
    bottom: 0px;
    width: 125px;       
}

/* Images */
.moon-img{
    left: 0px;
    top: 470px;
    width: 70px;
}

.r-m-plant{
    right: 0px;
    bottom: 0px;
    width: 70px;
    }
}

/* Smartphone view */
@media (max-width: 575.98px) {

/* Top container */
.t-header-title{
    font-size: 50px;
    padding-top: 25px;
}

.dp-img{
    margin: 35px auto 35px auto;
    width: 340px;
}

.dp-name{
    font-size: 45px;
    font-weight: bold;
}

.dp-desc{
    font-size: 15px;
}

/* Images */
.display-img{
    top: 15px;
    right: 20px;
    width: 70px;
}

.web-img{
    left: 15px;
    top: 525px;
    width: 70px;
}

.smartphone-img{
    margin: 10px auto;
    padding: 10px;
    width: 275px;
}

.r-t-tree{
    right: 10px;
    bottom: 0px;
    width: 70px;       
}

/* Middle container */
.m-header-title{
    font-size: 40px;
}

/* Interest - 1 */
/* Slide - 1 */
.coding{
    width: 325px;
    height: auto;
}

.code-img{
    display: block;
    width: 70px;
    margin: auto;
}

.code-title{
    font-size: 35px;
    text-align: left;
}

.code-desc{
    font-size: 20px;
    text-align: left;
}

/* Slide - 2 */
.fact{
    width: 325px;
    height: auto;
}

.fact-desc{
    font-size: 20px;
    text-align: justify;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 0 !important;
}

/* Interest - 2 */
.photography{
    width: 325px;
    height: auto;        
}

.photography-img{
    display: block;
    width: 70px;
    margin: auto;
}

.photography-title{
    font-size: 35px;
    text-align: center;        
}

.photography-desc{
    font-size: 20px;
    text-align: left;
}

/* Images */
.moon-img{
    bottom: 400px;
    top: auto;
    width: 50px;
}

.r-m-plant{
    margin-top: 10px;
    right: 0px;
    bottom: 0px;
    width: 50px;               
}

/* Footer */
.social-icons{
    width: 30px;
}

.cred-link{
    font-size: 15px;
}

/* Credits */
.credits-main{
    font-size: 17px;
}

.t-color{
    font-size: 17px;
}
}

/* Fonts
link : <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Play&family=Satisfy&family=Teko:wght@500&family=Ubuntu+Mono&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
1.  font-family: 'Satisfy', cursive; 
2.  font-family: 'Play', sans-serif;
3.  font-family: 'Montserrat', sans-serif;
4.  font-family: 'Teko', sans-serif;
5.  font-family: 'Ubuntu', sans-serif;
6.  font-family: 'Ubuntu Mono', monospace;
*/
